{% for project in site.data.prjs %}
   
        <img src="{{ project.img | prepend: site.baseurl }}" >
        
            {% if project.url %}
                <a href="{{ project.url }}" target="_blank">
                    <span>{{ project.name }}</span>
                </a>
            {% elsif project.repo %}
                <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank">
                    <span>{{ project.name }}</span>
                </a>
            {% else %}
                <span>{{ project.name }}</span>
            {% endif %}
            
        <p>
            <span data-i18n="projects.{{ project.i18n }}">{{ project.desc }}</span>
        </p>

        {% if project.youtube %}
            <div>
                <a href="https://youtu.be/{{ project.youtube }}">
                    YouTube
                </a>
        {% endif %}  
            </div>

        {% if project.repo %}
            <div user="{{ project.gh_user }}" repo="{{ project.repo }}" >
                <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers" >...</a>&emsp;&emsp;
                <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network">...</a>
            </div>
        {% endif %}

{% endfor %}
<!-- {% for repository in site.github.public_repositories %}
{{ repository.name }} {{ repository.html_url }}
{% endfor %} -->